*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ideal folder
singleExamples/.idea
dependencyInjectionExample/.idea

# Gradle folder
singleExamples/.gradle
dependencyInjectionExample/.gradle

# Webapi vscode
webapi/.vscode

# Webapi node modules
webapi/node_modules

