<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simeon.firstapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.UIComponentsActivity"
            android:label="Superheros"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.SimpleListActivity" />
        <activity
            android:name=".activities.ListActivity"
            android:label="@string/title_activity_list" />
        <activity
            android:name=".activities.layouts.LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout" />
        <activity
            android:name=".activities.layouts.RelativeLayoutActivity"
            android:label="@string/title_activity_relative_layout" />
        <activity
            android:name=".activities.navigation.simple.NavigationSimplePage1Activity"
            android:label="@string/title_activity_navigation_simple_page1" />
        <activity
            android:name=".activities.navigation.simple.NavigationSimplePage2Activity"
            android:label="@string/title_activity_navigation_simple_page2" />
        <activity
            android:name=".activities.navigation.object.NavigationObjectPage1Activity"
            android:label="@string/title_activity_navigation_object_page1" />
        <activity
            android:name=".activities.navigation.object.NavigationObjectPage2Activity"
            android:label="@string/title_activity_navigation_object_page2" />
        <activity
            android:name=".activities.fragments.SimpleFragmentActivity"
            android:label="@string/title_activity_simple_fragment" />
        <activity
            android:name=".activities.fragments.StudentListFragmentActivity"
            android:label="@string/title_activity_list_fragment" />
        <activity
            android:name=".activities.fragments.StudentDetailsFragmentActivity"
            android:label="@string/title_activity_student_details_fragment" />
        <activity
            android:name=".activities.masterDetailsPhoneAndTablet.ListAnimalsActivity"
            android:label="@string/title_activity_list_animals" />
        <activity
            android:name=".activities.masterDetailsPhoneAndTablet.DetailsAnimalActivity"
            android:label="@string/title_activity_details_animal" />
        <activity android:name=".activities.htppSimpleRequests.HttpRequester" />
        <activity android:name=".activities.htppSimpleRequests.HttpBookDetailsActivity" />
        <activity android:name=".activities.httpRequests.ListBooksHttpActivity">
        </activity>
        <activity android:name=".activities.httpRequests.BookDetailsHttpActivity" />
        <activity android:name=".activities.httpRequests.CreateBookHttpActivity" />
        <activity android:name=".activities.dataLayer.TestHttpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>